.App {
    background-image: url("images/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.App-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    box-shadow: 0 0 8px 0 rgba(99, 99, 99, 0.75);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.street-name-font {
    color: #337dec;
    margin: 1rem;
}

@media all and (min-width: 800px) {
    .App {
        padding: 20px;
    }

    .App-header {
        flex: unset;
        padding: 2rem;
    }
}
